{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<section id="main">
  <div>
   <h1 id="title">{{ .Title }} </h1>
   Biography goes here
    <ul id="list">
    X for each band member</br>
        X for each gear per band member</br>
            X show name with link </br>
        X end </br>
        X for each gear per band member</br>
            X show thumbnail, with link to photo </br>
        X end </br>
    X end </br>
    </ul>
    
  </div>
</section>
{{ partial "footer.html" . }}